<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LIBER</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content padding class="background" [fullscreen]="true">

  <div class="content">

    <div class="logo">
      <img src="../../assets/icon/logo.png" alt="Logotipo">
    </div>

    <div class="name-app">Liber</div>

    <div class="slogan">Compartilhando o seu <br> amor à leitura</div>

    <ion-button class="login-button" shape="round" color="#889BB3" href="\login">Login</ion-button>

    <ion-button class="register-button" fill="outline" shape="round" color="clear" href="\">Cadastrar</ion-button>

  </div>

</ion-content>

